body {
  background-color: ivory;
}

.placeholder {
font-weight: bold;
  font-size: 25px;
  font-family: 'Lexend Deca', sans-serif;
  text-align: center;
  position: relative;
  margin-top: 25%;
}
