body {
  background-color: skyblue;
  text-align: center;
}

.placeholder {
font-weight: bold;
  font-size: 50px;
  font-family: 'Lexend Deca', sans-serif;
  position: absolute;
  margin: 25% 25%;
}
