body {
    background-color: #87CEEB;
    font-family: Lucida Console, Monospace;
    margin: 0;
}

#content {
    
}

#title {
    
}

.header {
    text-align: center;
    padding: 7% 0;
    background-color: ivory;
    }


.name {
    transform: rotate(-5deg);
    text-shadow: 2px 2px skyblue;
}

.fas.fa-running {
    position: absolute;
    right: 80%;
    }
    
    .fas.fa-biking {
        position: absolute;
        right: 15%;
        top: 45%;
    }
    
    .side {
        border-right: solid;
        border-left: solid;
        border-color: darkblue;
        }
        
        .mid {
           
        }
