body {
  background-color: #393E46;
  font-family: 'Ubuntu Condensed', sans-serif;
}

nav {
  padding-top: 50px;
}

.top {
  margin-top: 5%;
    }

.signature {
  color: white;
  font-family: 'Dancing Script', cursive;
  font-size: 8rem;
  padding-left: 150px;
}

@keyframes slideInFromBottom {
  0% {
    transform: translateY(10%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes menuOpacity {
   0%   { opacity: 0; }
  50%    { opacity: 0.5;}
  100% { opacity: 1; }
  0% {margin-right: 20px;}
    }

.profilePic img {
  height: 350px;
  width: auto;
  border-radius: 50%;
}

.profilePic {
  padding-right: 100px;
  animation: 1s ease-out 0s 1 slideInFromBottom;
}

.contentRow {
  margin: 100px 100px;
}

.profileWriting {
  background-color: gray;
  border-radius: 20%;
  padding: 40px;
  font-size: 1.5rem;
  animation: 1s ease-out 0s 1 slideInFromBottom;

}

nav .navbar-nav li a {
  color: black !important;
  font-family: 'Ubuntu Condensed', sans-serif;
  font-size: 2rem;
   animation: 1s ease-out 0s 1 menuOpacity;
    }

    nav .navbar-nav li {
      padding-left: 50px;
        }

.navbar-nav {
  padding-right: 10%;
  flex-direction:row !important;
}

.row {
  margin-top: 0;
}

li a:hover {
  transition: 1s;
  background-color: gray;
  border-radius: 20%
  }

footer {
  background-color: white;
  color: #393E46;
  text-align: center;
  position: fixed;
  width: 100%;
  bottom: 0;
  }

  @media only screen and (max-width: 600px) {

* {
  text-align: center!important;
}

    .signature {
      font-size: 4rem;
      padding-left: 0;
    }

    nav .navbar-nav li a {
      color: black !important;
      font-family: 'Ubuntu Condensed', sans-serif;
  font-size: 2rem;
        }

        nav .navbar-nav li {
          padding-left: 10px;

            }

  }
