
/* HTML Tags */

body {
  background-color: #393E46;
  font-family: 'Ubuntu Condensed', sans-serif;
}

nav {
  padding-top: 50px;
}

li a:hover {
  transition: 1s;
  background-color: gray;
  border-radius: 20%
}

footer {
  background-color: white;
  color: #393E46;
  text-align: left;
  position: fixed;
  width: 100%;
  bottom: 0;
  padding-top: 5px;
}

/* Classes */

.top {
  margin-top: 5%;
}

.signature {
  color: white;
  font-family: 'Dancing Script', cursive;
  font-size: 8rem;
  padding-left: 150px;
  animation: 3s ease-out 0s 1 sig;
}

.profilePic img {
  height: 350px;
  width: auto;
  border-radius: 50%;
}

.profilePic {
  padding-right: 100px;
  animation: 1s ease-out 0s 1 slideInFromBottom;
}

.profileWriting {
  background-color: gray;
  border-radius: 15%;
  padding: 40px;
  font-size: 1.5rem;
  animation: 1s ease-out 0s 1 slideInFromBottom;
}

.contentRow {
  margin: 100px 100px;
}

.row {
  margin-top: 0;
}

.sightLine {
  display: none;
}

/* Navigation styling */

nav .navbar-nav li a {
  color: black !important;
  font-family: 'Ubuntu Condensed', sans-serif;
  font-size: 2rem;
  animation: 1s ease-out 0s 1 menuOpacity;
}

nav .navbar-nav li {
  padding-left: 50px;
}

.navbar-nav {
  margin-right: 10%;
  flex-direction: row !important;
  background-color: rgba(81, 103, 169, 0.3)
}


/* Keyframes */

@keyframes sig {
  0% {
    color: #393E46;
  }

  50% {
    color: gray;
  }
}

@keyframes slideInFromBottom {
  0% {
    transform: translateY(10%);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes menuOpacity {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }

  0% {
    margin-right: 20px;
  }
}

/* Responsive CSS */

@media only screen and (max-width: 950px) {
  * {
    text-align: center !important;
  }

  .signature {
    font-size: 4rem;
    padding-left: 0;
  }

  .profileWriting {
    font-size: 1rem;
  }

  nav .navbar-nav li a {
    color: black !important;
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: 1.25rem;
  }

  nav .navbar-nav li {
    padding-left: 10px;
      }

  .sightLine {
    display: inline;
  }

  .profilePic img {
    height: 200px;
  }

  footer {
    font-size: .75rem;
  }

.profilePic {
  text-align: center!important;
  padding-bottom: 5%;
  padding-right: 0;
}

}
